.investor-info {
    position: relative;
    .colosok {
        position: absolute;
        right: 0;
        top: -50px;
        z-index: -2;
        @media (max-width: 990px) {
            display: none;
        }
    }
}

.investor-info-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .title-xl {
        text-align: left;
    }
    .text-simple {
        text-align: left;
        color: #234c18;
        font-size: 1rem;
    }
}

.finance {
    .title-xl {
        text-align: left;
        margin-bottom: 30px;
    }
    .text-simple {
        font-size: 1rem;
        color: #234c18;
        text-align: left;
        margin-bottom: 20px;
    }
}

.finance-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    .finance-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
            &::before {
                content: '';
                background: rgba(0, 0, 0, 0.7); 
            }
        }
        &::before {
            content: '';
            transition: .3s;
            background: rgba(0, 0, 0, 0.4);
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        height: 300px;
        width: 100%;
    }
    .finenace-text {
        font: bold 1.5rem 'Raleway', sans-serif;
        position: absolute;
        top: 45%;
        color: #fff;
        z-index: 9;
    }
}

.tabs__caption {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 990px) {
        flex-wrap: wrap;
    }
    @media (max-width: 576px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 380px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    p {
        background: #234c18;
        padding: 10px 40px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        font: 500 1.5rem 'Raleway', sans-serif;
        @media (max-width: 576px) {
            padding: 10px 30px;
            font-size: 1.25rem;
        }
    }
    .active {
        color: #234c18;
        background: #fcdb5a;
    }
}

.doc-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
        font: 500 1rem 'Raleway', sans-serif;
        color: #234c18;
    }
    i {
        font-size: 28px;
        color: #234c18;
    }
}

.tabs__content {
    display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
}