@import 'header/header.scss';
@import 'bredcrumbs/bredcrumbs.scss';
@import 'main-section/main-section.scss';
@import 'investor/investor.scss';
@import 'about/about.scss';
@import 'timeline/timeline.scss';
@import 'team/team.scss';
@import 'product/product.scss';
@import 'review/review.scss';
@import 'special/special.scss';
@import 'contact/contact.scss';
@import 'footer/footer.scss';
@import 'constant/constant.scss';
@import 'text/text.scss';
@import 'btn/btn.scss';