.map {
    .text-simple {
        margin-bottom: 60px;
        @media (max-width: 990px) {
            margin-bottom: 40px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}