header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 990px) {
        display: none;
    }
    .link {
        margin: 0 30px;
        font: 400 1rem 'Raleway', sans-serif;
        color: #fff;
        display: block;
        position: relative;
        transition: .3s;
        &:hover {
            &::after {
                opacity: 1;
                transform: translateX(0);
            }
        }
        &::after {
            content: '';
            height: 1px;
            width: 100%;
            background: #fff;
            position: absolute;
            bottom: -10px;
            left: 0;
            opacity: 0;
            transform: translateX(65px);
            transition: .35s;
        }
    }
    img {
        max-width: 100%;
        height: 140px;
        position: relative;
        cursor: pointer;
        margin: 0 20px;
        top: 5px;
    }
}

.header-mob-container {
    display: none;
    @media (max-width: 990px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }
    .logo {
        height: 60px;
    }
    .menu-call {
        height: 35px;
    }
    .mob-menu {
        position: absolute;
        width: 100vw;
        z-index: 99;
        top: 0;
        height: 100vh;
        background: #fff;
        left: 0;
        transition: .35s;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        nav {
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        a {
            color: #000;
            font: 500 1.5rem 'Raleway', sans-serif;
            display: block;
            margin: 25px 0;
        }
        .close {
            position: absolute;
            height: 30px;
            top: 30px;
            right: 20px;
        }
    }
    .mob-menu-active {
        transform: translateX(0);
        opacity: .95;
    }
}