.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .product-box-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-column-start: 1;
        grid-column-end: 3;
        @media (max-width: 990px) {
            grid-column-start: auto;
            grid-column-end: auto;
        }
    }
    .title-xl {
        text-align: left;
    }
    .text-simple {
        text-align: left;
        font-size: 1rem;
        margin-bottom: 30px;
    }
}

.product-box-link {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: block;
    height: 250px;
    &::before {
        content: '';
        background: rgba(100,114,142,0.6);
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        opacity: 0;
        transition: .3s;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 0;
        margin: auto;
        z-index: -2;
    }
    p {
        color: #fff;
        z-index: 99;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font: bold 2rem 'Raleway', sans-serif;
    }
}


.product-box-link:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    @media (max-width: 990px) {
        grid-column-start: auto;
        grid-column-end: auto;
    }
}


.product-box-link:nth-child(7){
    grid-column-start: 1;
    grid-column-end: 3;
    @media (max-width: 990px) {
        grid-column-start: auto;
        grid-column-end: auto;
    }
}