.title-xl {
    color: #234c18;
    text-transform: uppercase;
    font: 900 2.25rem/40px 'Raleway', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    @media (max-width: 990px) {
        font-size: 1.5rem;
    }
    span {
        font-weight: 400;
    }
}

.text-simple {
    font: 400 1.2rem/26px 'Raleway', sans-serif;
    text-align: center;
    color: #b3b3b3;
    @media (max-width: 990px) {
        font-size: 1rem;
    }
}