.timeline {
    .title-xl {
        text-align: left;
        margin-bottom: 50px;
        @media (max-width: 990px) {
            margin-bottom: 20px;
        }
    }
}

.timeline-container {
    background: #fcdb5a;
    padding: 80px 60px;
    position: relative;
    overflow: hidden;
    @media (max-width: 990px) {
        padding: 20px;
    }
    .colosok {
        position: absolute;
        right: 0;
        height: 400px;
        bottom: -20px;
    }
}

.timeline-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    position: relative;
    @media (max-width: 990px) {
        grid-gap: 30px;
        grid-template-columns: 1fr;
    }
    &::before {
        content: '';
        height: 1px;
        width: 100%;
        background: #c6ad4d;
        display: block;
        left: 0;
        top: 4px;
        position: absolute;
        @media (max-width: 990px) {
            display: none;
        }
    }
    .timeline-box {
        padding: 30px 0;
        position: relative;
        @media (max-width: 990px) {
            padding: 0;
        }
        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            left: 0;
            top: 0;
            border-radius: 50%;
            display: block;
            background: #c6ad4d;
            @media (max-width: 990px) {
                display: none;
            }
        }
        &::after {
            content: '';
            position: absolute;
            height: 14px;
            width: 14px;
            left: -3px;
            top: -3px;
            border-radius: 50%;
            display: block;
            border: 1px solid #c6ad4d;
            @media (max-width: 990px) {
                display: none;
            }
        }
    }
    .num {
        color: #234c18;
        text-transform: uppercase;
        margin-bottom: 15px;
        font: 900 2.5rem 'Raleway', sans-serif;
        @media (max-width: 990px) {
            font-size: 1.75rem;
        }
    }
    .info {
        color: #234c18;
        font: 700 1rem 'Raleway', sans-serif;
        margin-bottom: 15px;
    }
    .text {
        font: 500 .87rem 'Raleway', sans-serif;
        opacity: .6;
    }        
}
