.white-popup-block {
    position: relative;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    .btn-gold {
        width: 100%;
        background: transparent;
    }
    .text-simple {
        margin-bottom: 20px;
    }
    .input-file-container {
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        margin-bottom: 20px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            padding: 0;
        }
        .file-return {
            grid-column-start: 1;
            grid-column-end: 3;
            font: 400 .95rem/22px 'Raleway', sans-serif;
            @media (max-width: 990px) {
                grid-column-start: 1;
                grid-column-end: 1;
            }
        }
        .input-file-trigger {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #333333;
            height: 65px;
            width: 120px;
            outline: none;
            cursor: pointer;
            &:hover {
                img {
                    transform: rotate(-25deg);
                }
            }
            @media (max-width: 990px) {
                height: 70px;
                width: auto;
            }
            img {
                transition: .3s;
                height: 25px;
            }
        }
        input {
            opacity: 0;
            position: absolute;
        }
        .label {
            font: 400 .95rem/22px 'Raleway', sans-serif;
            color: #b3b3b3;
        }
    }
}

