
.about {
    position: relative;
    &::before {
        content: 'AGRO';
        position: absolute;
        font: 900 25rem 'Raleway', sans-serif;
        top: 50%;
        z-index: -2;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        color: #fef7db;
        @media (max-width: 990px) {
            display: none;
        }
    }
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    .about-btn-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 990px) {
            align-items: center;
        }
        .title-xl {
            text-align: left;
            margin-bottom: 45px;
            @media (max-width: 990px) {
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
    .about-info-box {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        p {
            text-align: left;
            font-size: 1rem;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-self: start;
        margin: 0 auto;
    }
}

.about-ferm-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fcdb5a;
    padding: 100px 20px;
    @media (max-width: 990px) {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        justify-items: center;
    }
}

.about-ferm-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    @media (max-width: 990px) {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        justify-items: center;
    }
}

.about-ferm-box {
    display: flex;
    align-items: center;
    img {
        margin-right: 20px;
    }
    .num {
        color: #234c18;
        text-transform: uppercase;
        margin-bottom: 5px;
        font: 900 2.5rem 'Raleway', sans-serif;
        @media (max-width: 990px) {
            font-size: 1.75rem;
        }
    }
    .info {
        color: #234c18;
        font: 500 1rem 'Raleway', sans-serif;
    }
}


.about-info {
    position: relative;
    .title-xl {
        text-align: left;
        margin-bottom: 60px;
        @media (max-width: 990px) {
            margin-bottom: 35px;
        }
    }
    .text-simple {
        text-align: left;
        margin-bottom: 30px;
        color: #234c18;
        max-width: 800px;
    }
    a {
        display: inline-block;
    }
    .colosok {
        position: absolute;
        z-index: -2;
        right: -20px;
        top: -100px;
        height: 400px;
        @media (max-width: 990px) {
            display: none;
        }
    }
}